form#controller-form
  p
   input#name(type="text",placeholder="Dein Username")
  p
   textarea#comment(placeholder="Dein Kommentar")
  p 
   a.button#send-comment(href="#") Kommentar posten
div#canvasDiv
 canvas#cb_canvas(width="400",height="300")
p 
 a.button#send-canvas(href="#") Canvas posten
 a.button#clear-canvas(href="#") Neu starten


