form#controller-form
  h2 Slide controls
  p
    a.button#prev(href="#") Prev
    a.button#next(href="#") Next

  h2 Chat controls  
  p
   input#name(type="text",placeholder="Dein Username")
  p
   textarea#comment(placeholder="Dein Kommentar")
  p 
   a.button#send-comment(href="#") Send
   a.button#reset-comment(href="#") Reset
    
